{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
        {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
    </div>
</header>

<section>
	{{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum",'positionTopPercentage': '50',"defaultBgImg": asset('images/feature-bg.jpg'), 'showBtn': true})|raw}}
</section>

<div class="main-zone">
    <div class="main wrapper clearfix">
        {{zone('main')|raw}}
    </div>
</div>

<footer class="bk-footer">
    <div class="wrapper">
        <div class="responsivecolumns columns-three-33-34-33">
            <div class="column columns-three-left">
                {{widget('content', 'footercolumn1content1', {"content":'<h3>Lorem Ipsum</h3>'})|raw}}

                {% if profile.companydescription|length > 0 %}  
                   {{widget('profile', 'footercolumn1profilecompanydescription', { 'profileType':'companydescription', 'companydescription':'profile'})|raw}}
                {% else %}
                    {{widget('content', 'footercolumn1content2', {"content":'<p>Integer a Tortor dui nullam nec antemi morbi sodales urna sit amet mauris.</p>'})|raw}}
                {% endif %}

            </div>
            <div class="column columns-three-middle">
                {{widget('content', 'footercolumn2content1', {"content":'<h3>Solades</h3>'})|raw}}
                {{widget('profile', 'footercolumn2profileaddress', { 'profileType':'address', 'address':'profile'})|raw}}
            </div>
            <div class="column columns-three-right">
                {{widget('content', 'footercolumn3content1', {"content":'<h3>Thoates Ora</h3>'})|raw}}
                {{widget('profile', 'footercolumn3profileemail', { 'profileType':'form', 'phone':'profile'})|raw}}
                {{widget('profile', 'footercolumn3profilephone', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
            </div>
        </div>
    </div>
</footer>

{% endblock %}
